.App {
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
}

.textInput {
  min-height: 500px;
  min-width: 500px;
  padding: 20px;
}

.footer {
  margin-top: 40px;
  font-size: 14px;
}

.footer a {
  color: #000;
}